name: "Deploy YouTrack workflows"
author: "Vasily Litvinov"
description: "Run deployments for all workflows"
inputs:
  secrets:
    description: 'Secrets to use'
    required: true

runs:
  using: "composite"
  steps:
    - name: Deploy 1
      shell: bash
      run: echo npm config set token_test ${{ fromJSON(inputs.secrets).TOKEN_TEST }}

    - name: Deploy 2
      shell: bash
      run: echo "${{ toJson(github) }}"


